<button pButton type="button" [routerLink]="['/authenticated/purchase']" label="Back To List"></button>

<br />
<br />
<br />
<form  [formGroup]="purchaseForm" (ngSubmit)="savePurchaseInvoice()">

  <p-fieldset legend="Purchase Invoice">

   <div class="ui-g">

    <div class="ui-g-3">
        <label for="invoice">Invoice Number</label>
        <br />
        <input pInputText id="invoice" formControlName="invoiceNumber" autofocus onlyNumber="true"/>
    </div>

    <div class="ui-g-3">
      <label for="invoiceDate">Invoice Date</label>
      <br />
      <p-calendar formControlName="date" [monthNavigator]="true" dateFormat="dd.mm.yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
    </div>

    <div class="ui-g-3">
      <label for="postingDate">Posting Date</label>
      <br />
      <p-calendar formControlName="postingDate" [monthNavigator]="true" dateFormat="dd.mm.yy" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
    </div>
    

    <div class="ui-g-3">
      <label  for="BilledSuppliers">Billed Supplier</label>
      <br />
      <p-dropdown [options]="supplierSelectList"  formControlName="supplierId" placeholder="Select" [style]="{'width':'160px'}" filter="true" (onChange)="checkSupplyType($event)">
        <ng-template let-option pTemplate="item">
          <div translate>{{option.label}}</div>
        </ng-template>
      </p-dropdown>
      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="purchaseForm.get('supplierId').touched && purchaseForm.get('supplierId').invalid" style="width:160px">
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="purchaseForm.get('supplierId').hasError('required')">
          <i class="fa fa-fw fa-close"></i>
          Supplier is required
        </div>
       </div> 
    </div>

    
    </div>
    
    <div class="ui-g">
      <div class="ui-g-3">
        <label for="state" >Place of Supply</label>
        <br />
        <p-dropdown [options]="stateList"  formControlName="placeOfSupply"   [style]="{'width':'160px'}" filter="true" (onChange)="checkSupplyType($event)" 
       
        [disabled]=" purchaseForm.get('purchaseInvoiceItems').get('length')" 
        >
            <ng-template let-option pTemplate="item">
              <div translate>{{option.label}}</div>
            </ng-template>
          </p-dropdown>
      </div>
    </div>

    <p-card>
    <app-purchase-invoice-items 
    [invoiceItems]="purchaseForm.value.purchaseInvoiceItems"
    [isIntraState]="isIntraState"
    (removeItemIndex)="purchaseInvoiceItems.removeAt($event);calculateNetAmount()"
    (addItem)="purchaseInvoiceItems.push(this.buildProductLine($event));calculateNetAmount();">
    </app-purchase-invoice-items>
  </p-card>

  <div class="ui-g">
    <div class="ui-g-5">
      <p-checkbox name="billedPassed" label="Bill Passed" binary="true" formControlName="billedPassed"></p-checkbox>
    </div>
    <div class="ui-g-7"></div>
  </div>

  <br />
  <br />




  <div class="ui-g">
    <div class="ui-g-8"></div>
    <div class="ui-g-2">
      <label for="totalInvoiceValue">Total Invoice Value</label> 
    </div>
    <div class="ui-2">
      <label for="totalInvoiceValue" style="margin-top:5px">{{purchaseForm.get('totalInvoiceValue').value | number: '1.0-0'}}</label>  
    </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-2">
        <label for="Reference Note">Reference Note</label>
      </div>
      <div class="ui-g-3">
        <textarea pInputTextarea formControlName="reference" ></textarea>
      </div>
    </div>

    <div class="ui-g-4 ui-g-offset-5">
        <button pButton type="submit" label="Save and Next" class="ui-button-success" (onclick)="disable()" [disabled]="purchaseForm.invalid"></button>
        <!-- <button pButton type="submit" label="Save and Next" class="ui-button-success" [disabled]="salesForm.invalid || salesForm.get('salesInvoiceItems')"></button> -->
      </div>

  </p-fieldset>

</form>



