<div class="col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-pills nav-stacked" id="a">
        
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-final-report']">
                Gstr1 Final Report
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr-3b-report']">
                Gstr3B
            </a>
        </li>
    <li [routerLinkActive]="['link-active']" >
        
            <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-b2b-report']">
            B2B 
        </a>
    </li>

    <li [routerLinkActive]="['link-active']">
        
            <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-b2c-report']">
            B2C 
        </a>
    </li>

    <li [routerLinkActive]="['link-active']">
        
                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-b2cl-report']">
            B2CL 
        </a>
        </li>

        <li [routerLinkActive]="['link-active']">

                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-cndr-report']">

                CDNR
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-cndur-report']">
                CDNUR
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            
                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-advance-receive-report']">
                Advance Receive
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            
                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-export-report']">
                Export 
            </a>
        </li>

        <li [routerLinkActive]="['link-active']">
            
                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-hsn-report']">
                Hsn
            </a>
        </li>

        <li [routerLinkActive]="['link-active']">
            
                
                <a [routerLink]="['/reporting',monthId,yearId,companyId,'consolidated','gstr1-document-detail-report']">
                Document Detail
            </a>
        </li>


        </ul>
</div>
